//Main root
:root {
  --secondary: #666666;
  --white: #ffffff;
  --dark: #292929;
  --grey: #eeeeee;
  --border: #ebebeb;
  --orange: #ed7135;
}

//Bs colors
$primary: #ed7135;
$secondary: #666666;
$white: #ffffff;
$gray: #eeeeee;
$dark: #292929;

//Bs
$body-font-size: 16px;
$card-spacer-y: 16px;
$card-spacer-x: 24px;
$btn-padding-x: 16px;
$nav-link-padding-x: 12px;
$body-color: #292929;
$btn-color: #ffffff;
$btn-hover-color: #ffffff;
$btn-primary-color: #ffffff;
$nav-link-color: #666666;
$link-hover-color: #292929;

@mixin darkColors {
  --secondary: #a1a1a1;
  --white: #292929;
  --dark: #c4c4c4;
  --grey: #323232;
  --border: #343434;
  --orange: #ed7135;
}

@media (prefers-color-scheme: dark) {
  :root {
    @include darkColors;
  }
}

//Hard set dark mode
@media (prefers-color-scheme: light) {
  body[data-theme="dark"] {
    @include darkColors;
  }
}
